---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Standard Page variables
$code-font-family: Monaco, Andale Mono, Courier New, monospace;
$quote-font-family: georgia, serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;
$theme-color: #009688;
$title-text-color: #fff;
$text-color: #111;
$text-color-code: #737373;
$border-color: #ddd;
$border-color-bottom: #ccc;
$blockquote-color: #eee;
$background-color: #fdfdfd;
$palm-background-color: #424242;
$brand-color: #2a7ae2;
$link-color: #0069d6;
$link-color-hover: #0050a3;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$site-content-width: 1600px;
$page-content-width: 1000px;
$post-content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

@mixin media-query-min($device) {
	@media screen and (min-width:$device) {
		@content;
	}
}

@mixin media-query-max($device) {
	@media screen and (max-width:$device) {
		@content;
	}
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "syntax-highlighting";