<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-shadow--4dp">
	<div class="mdl-card__title" style="background: url('{{ post.res }}/cover_image.png') center / cover;">
		<h2 class="mdl-card__title-text">{{ post.title }}</h2>
	</div>

	<div class="mdl-card__menu">
		<button id="share-menu_{{post.id}}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"> <i class="material-icons">share</i>
		</button>

		<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="share-menu_{{post.id}}">
			{% include index_elements/share/facebook_item.html %}
			{% include index_elements/share/twitter_item.html %}
		</ul>
	</div>

	<div class="mdl-card__supporting-text">
		<div class="mdl-card__subtitle-text">
			{{ post.excerpt | strip_html }} <strong>- {{ post.date | date: "%b %-d, %Y" }}</strong>
		</div>
	</div>

	<div class="mdl-card__actions mdl-card--border">
		<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url | prepend: site.baseurl }}">Check it out</a>
		<div class="mdl-layout-spacer"></div>
		<span class="disqus-comment-count" data-disqus-url="{{ site.url | append: post.url | prepend: site.baseurl }}">0 Comments</span>
	</div>
</div>