---
layout: default
header: ribbon
---
<div class="post">
	<div class="post-internal mdl-cell--expand mdl-shadow--4dp">
		<header class="post-header">
			<h1 class="post-title">{{ page.title }}</h1>
			<h2 class="post-subtitle">{{ page.subtitle }}</h2>
		</header>

		<article class="post-content">{{ content }}</article>

		<br>

		<a class="post-meta" href="/about">
			{{ page.date | date: "%b %-d, %Y" }}
			{% if page.author %} • {{ page.author }}{% endif %}
			{% if page.meta %} • {{ page.meta }}{% endif %}
		</a>

		<br>

		{% include post_elements/social_sharing.html %}
	</div>

	<br>
	<br>

	{% include post_elements/comments_footer.html %}

</div>